<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.6.4" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="mongocsharpdriver" version="1.6" />
  <package id="Newtonsoft.Json" version="4.5.9" />
  <package id="SignalR" version="0.5.3" />
  <package id="SignalR.Hosting.AspNet" version="0.5.3" />
  <package id="SignalR.Hosting.Common" version="0.5.3" />
  <package id="SignalR.Js" version="0.5.3" />
  <package id="SignalR.Server" version="0.5.3" />
  <package id="Simple.Data.Core" version="0.18" />
  <package id="Simple.Data.MongoDB" version="0.18.0" />
</packages>